In [26]:
import numpy as np
import pandas as pd
import math
import quandl
from sklearn import preprocessing,model_selection,svm
from sklearn.linear_model import LinearRegression
df=quandl.get('WIKI/GOOGL',authtoken='h5CVihsz4vubHZf5Apqz')
df.head(10)

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2004-08-19,100.01,104.06,95.96,100.335,44659000.0,0.0,1.0,50.159839,52.191109,48.128568,50.322842,44659000.0
2004-08-20,101.01,109.08,100.50,108.310,22834300.0,0.0,1.0,50.661387,54.708881,50.405597,54.322689,22834300.0
2004-08-23,110.76,113.48,109.05,109.400,18256100.0,0.0,1.0,55.551482,56.915693,54.693835,54.869377,18256100.0
2004-08-24,111.24,111.60,103.57,104.870,15247300.0,0.0,1.0,55.792225,55.972783,51.945350,52.597363,15247300.0
2004-08-25,104.76,108.00,103.88,106.000,9188600.0,0.0,1.0,52.542193,54.167209,52.100830,53.164113,9188600.0
2004-08-26,104.95,107.95,104.66,107.910,7094800.0,0.0,1.0,52.637487,54.142132,52.492038,54.122070,7094800.0
2004-08-27,108.10,108.62,105.69,106.150,6211700.0,0.0,1.0,54.217364,54.478169,53.008633,53.239345,6211700.0
2004-08-30,105.28,105.49,102.01,102.010,5196700.0,0.0,1.0,52.802998,52.908323,51.162935,51.162935,5196700.0
2004-08-31,102.32,103.71,102.16,102.370,4917800.0,0.0,1.0,51.318415,52.015567,51.238167,51.343492,4917800.0
2004-09-01,102.70,102.97,99.67,100.250,9138200.0,0.0,1.0,51.509003,51.644421,49.989312,50.280210,9138200.0

In [27]:
df=df[['Adj. Open','Adj. High','Adj. Low','Adj. Close','Adj. Volume']]
df.head()

            Adj. Open  Adj. High   Adj. Low  Adj. Close  Adj. Volume
Date
2004-08-19  50.159839  52.191109  48.128568   50.322842   44659000.0
2004-08-20  50.661387  54.708881  50.405597   54.322689   22834300.0
2004-08-23  55.551482  56.915693  54.693835   54.869377   18256100.0
2004-08-24  55.792225  55.972783  51.945350   52.597363   15247300.0
2004-08-25  52.542193  54.167209  52.100830   53.164113    9188600.0

In [28]:
df['HL_PCT']=(df['Adj. High']-df['Adj. Low'])/df['Adj. Close']*100.0
df.head()

            Adj. Open  Adj. High   Adj. Low  Adj. Close  Adj. Volume    HL_PCT
Date
2004-08-19  50.159839  52.191109  48.128568   50.322842   44659000.0  8.072956
2004-08-20  50.661387  54.708881  50.405597   54.322689   22834300.0  7.921706
2004-08-23  55.551482  56.915693  54.693835   54.869377   18256100.0  4.049360
2004-08-24  55.792225  55.972783  51.945350   52.597363   15247300.0  7.657099
2004-08-25  52.542193  54.167209  52.100830   53.164113    9188600.0  3.886792

In [29]:
df['PCT_change']=(df['Adj. Close']-df['Adj. Open'])/df['Adj. Open']*100.0
df.head()

,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume,HL_PCT,PCT_change
Date,,,,,,,
2004-08-19,50.159839,52.191109,48.128568,50.322842,44659000.0,8.072956,0.324968
2004-08-20,50.661387,54.708881,50.405597,54.322689,22834300.0,7.921706,7.227007
2004-08-23,55.551482,56.915693,54.693835,54.869377,18256100.0,4.049360,-1.227880
2004-08-24,55.792225,55.972783,51.945350,52.597363,15247300.0,7.657099,-5.726357
2004-08-25,52.542193,54.167209,52.100830,53.164113,9188600.0,3.886792,1.183658

In [30]:
df=df[['Adj. Close','HL_PCT','PCT_change','Adj. Volume']]
df.head()

            Adj. Close    HL_PCT  PCT_change  Adj. Volume
Date
2004-08-19   50.322842  8.072956    0.324968   44659000.0
2004-08-20   54.322689  7.921706    7.227007   22834300.0
2004-08-23   54.869377  4.049360   -1.227880   18256100.0
2004-08-24   52.597363  7.657099   -5.726357   15247300.0
2004-08-25   53.164113  3.886792    1.183658    9188600.0

In [31]:
import quandl
import pandas as pd
df=quandl.get("WIKI/GOOGL")
df=df[['Adj. Open','Adj. High','Adj. Low','Adj. Close','Adj. Volume']]
df['HL_PCT']=(df['Adj. High']-df['Adj. Low'])/df['Adj. Close']*100.0
df['PCT_change']=(df['Adj. Close']-df['Adj. Open'])/df['Adj. Open']*100.0
df=df[['Adj. Close','HL_PCT','PCT_change','Adj. Volume']]
print(df.head())

            Adj. Close    HL_PCT  PCT_change  Adj. Volume
Date
2004-08-19   50.322842  8.072956    0.324968   44659000.0
2004-08-20   54.322689  7.921706    7.227007   22834300.0
2004-08-23   54.869377  4.049360   -1.227880   18256100.0
2004-08-24   52.597363  7.657099   -5.726357   15247300.0
2004-08-25   53.164113  3.886792    1.183658    9188600.0

In [39]:
import math
forecast_col='Adj. Close'
df.fillna(value=-99999,inplace=True)                                        #to fill empty space -fillna
forecast_out=int (math.ceil(0.001*len(df)))                                  #ceil is to roundof float values 
df['label']=df[forecast_col].shift(-forecast_out)

df.head()                                                                     #percentage should be such that the difference b/w close and label is min.

            Adj. Close    HL_PCT  PCT_change  Adj. Volume      label
Date
2004-08-19   50.322842  8.072956    0.324968   44659000.0  53.164113
2004-08-20   54.322689  7.921706    7.227007   22834300.0  54.122070
2004-08-23   54.869377  4.049360   -1.227880   18256100.0  53.239345
2004-08-24   52.597363  7.657099   -5.726357   15247300.0  51.162935
2004-08-25   53.164113  3.886792    1.183658    9188600.0  51.343492

            Adj. Close    HL_PCT  PCT_change  Adj. Volume       label
Date
2004-08-19   50.322842  8.072956    0.324968   44659000.0  214.005615
2004-08-20   54.322689  7.921706    7.227007   22834300.0  210.725489
2004-08-23   54.869377  4.049360   -1.227880   18256100.0  208.072299
2004-08-24   52.597363  7.657099   -5.726357   15247300.0  218.288837
2004-08-25   53.164113  3.886792    1.183658    9188600.0  223.309335

In [40]:
#dropna to drop 
df.dropna(inplace=True)
x=np.array(df.drop(['label'],1))
y=np.array(df['label'])
x

array([[ 5.03228418e+01,  8.07295560e+00,  3.24967503e-01,
         4.46590000e+07],
       [ 5.43226889e+01,  7.92170621e+00,  7.22700723e+00,
         2.28343000e+07],
       [ 5.48693765e+01,  4.04936015e+00, -1.22788010e+00,
         1.82561000e+07],
       ...,
       [ 1.10007000e+03,  2.76800567e+00, -1.58262954e+00,
         3.07634900e+06],
       [ 1.09580000e+03,  2.11078664e+00, -2.36707939e-01,
         2.70931000e+06],
       [ 1.09400000e+03,  1.96435101e+00,  1.30884062e-01,
         1.99051500e+06]])

In [41]:
x=preprocessing.scale(x) # preprocessing(scaling)-transformation of data wrt the machine
x

array([[-1.39303886,  4.26826361,  0.23110523,  4.46472956],
       [-1.37747489,  4.15979016,  4.82605791,  1.81936818],
       [-1.37534766,  1.38261037, -0.80268501,  1.26444677],
       ...,
       [ 2.6916746 ,  0.46364505, -1.03885533, -0.57548354],
       [ 2.67505943, -0.0077011 , -0.14282367, -0.61997216],
       [ 2.66805538, -0.11272221,  0.10189643, -0.70709696]])

In [49]:
x_train,x_test,y_train,y_test=model_selection.train_test_split(x,y,test_size=0.2)

In [50]:
clf=svm.SVR()
clf.fit(x_train,y_train)
confidence=clf.score(x_test,y_test)
print(confidence)

C:\Users\Shreya Jaiswal\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

0.8179181017988494

In [54]:
clf= LinearRegression()
clf= LinearRegression(n_jobs=-1)