In [1]:
import pandas as pd 
import quandl
df=quandl.get('WIKI/GOOGL')
print(df.head())

              Open    High     Low    Close      Volume  Ex-Dividend  \
Date
2004-08-19  100.01  104.06   95.96  100.335  44659000.0          0.0
2004-08-20  101.01  109.08  100.50  108.310  22834300.0          0.0
2004-08-23  110.76  113.48  109.05  109.400  18256100.0          0.0
2004-08-24  111.24  111.60  103.57  104.870  15247300.0          0.0
2004-08-25  104.76  108.00  103.88  106.000   9188600.0          0.0

            Split Ratio  Adj. Open  Adj. High   Adj. Low  Adj. Close  \
Date
2004-08-19          1.0  50.159839  52.191109  48.128568   50.322842
2004-08-20          1.0  50.661387  54.708881  50.405597   54.322689
2004-08-23          1.0  55.551482  56.915693  54.693835   54.869377
2004-08-24          1.0  55.792225  55.972783  51.945350   52.597363
2004-08-25          1.0  52.542193  54.167209  52.100830   53.164113

            Adj. Volume
Date
2004-08-19   44659000.0
2004-08-20   22834300.0
2004-08-23   18256100.0
2004-08-24   15247300.0
2004-08-25    9188600.0

In [36]:
import numpy as np
import pandas as pd
import math
import quandl
from sklearn import preprocessing,model_selection,svm
from sklearn.linear_model import LinearRegression
df=quandl.get('WIKI/YHOO',authtoken='h5CVihsz4vubHZf5Apqz')
df.head(10)

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
1996-04-12,25.25,43.00,24.50,33.00,17030000.0,0.0,1.0,1.052083,1.791667,1.020833,1.375000,408720000.0
1996-04-15,35.75,36.00,30.00,32.25,3300800.0,0.0,1.0,1.489583,1.500000,1.250000,1.343750,79219200.0
1996-04-16,32.25,32.25,28.00,28.75,2000667.0,0.0,1.0,1.343750,1.343750,1.166667,1.197917,48016008.0
1996-04-17,28.25,28.25,24.75,27.00,1784000.0,0.0,1.0,1.177083,1.177083,1.031250,1.125000,42816000.0
1996-04-18,30.12,30.12,28.00,29.25,1136200.0,0.0,1.0,1.255000,1.255000,1.166667,1.218750,27268800.0
1996-04-19,30.12,30.75,28.75,28.87,538067.0,0.0,1.0,1.255000,1.281250,1.197917,1.202917,12913608.0
1996-04-22,29.00,29.00,27.50,28.25,335067.0,0.0,1.0,1.208333,1.208333,1.145833,1.177083,8041608.0
1996-04-23,28.75,29.00,28.00,28.00,179067.0,0.0,1.0,1.197917,1.208333,1.166667,1.166667,4297608.0
1996-04-24,28.50,29.12,27.75,29.00,324800.0,0.0,1.0,1.187500,1.213333,1.156250,1.208333,7795200.0
1996-04-25,30.00,32.25,29.00,31.25,811600.0,0.0,1.0,1.250000,1.343750,1.208333,1.302083,19478400.0

In [37]:
df=df[['Adj. Open','Adj. High','Adj. Low','Adj. Close','Adj. Volume']]
df.head()

            Adj. Open  Adj. High  Adj. Low  Adj. Close  Adj. Volume
Date
1996-04-12   1.052083   1.791667  1.020833    1.375000  408720000.0
1996-04-15   1.489583   1.500000  1.250000    1.343750   79219200.0
1996-04-16   1.343750   1.343750  1.166667    1.197917   48016008.0
1996-04-17   1.177083   1.177083  1.031250    1.125000   42816000.0
1996-04-18   1.255000   1.255000  1.166667    1.218750   27268800.0

In [38]:
df['HL_PCT']=(df['Adj. High']-df['Adj. Low'])/df['Adj. Close']*100.0
df.head()

            Adj. Open  Adj. High  Adj. Low  Adj. Close  Adj. Volume     HL_PCT
Date
1996-04-12   1.052083   1.791667  1.020833    1.375000  408720000.0  56.060606
1996-04-15   1.489583   1.500000  1.250000    1.343750   79219200.0  18.604651
1996-04-16   1.343750   1.343750  1.166667    1.197917   48016008.0  14.782609
1996-04-17   1.177083   1.177083  1.031250    1.125000   42816000.0  12.962963
1996-04-18   1.255000   1.255000  1.166667    1.218750   27268800.0   7.247863

In [39]:
df['PCT_change']=(df['Adj. Close']-df['Adj. Open'])/df['Adj. Close']*100.0
df.head()

,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume,HL_PCT,PCT_change
Date,,,,,,,
1996-04-12,1.052083,1.791667,1.020833,1.375000,408720000.0,56.060606,23.484848
1996-04-15,1.489583,1.500000,1.250000,1.343750,79219200.0,18.604651,-10.852713
1996-04-16,1.343750,1.343750,1.166667,1.197917,48016008.0,14.782609,-12.173913
1996-04-17,1.177083,1.177083,1.031250,1.125000,42816000.0,12.962963,-4.629630
1996-04-18,1.255000,1.255000,1.166667,1.218750,27268800.0,7.247863,-2.974359

In [40]:
df=df[['Adj. Close','Adj. Volume','HL_PCT','PCT_change']]
print(df.head())

            Adj. Close  Adj. Volume     HL_PCT  PCT_change
Date
1996-04-12    1.375000  408720000.0  56.060606   23.484848
1996-04-15    1.343750   79219200.0  18.604651  -10.852713
1996-04-16    1.197917   48016008.0  14.782609  -12.173913
1996-04-17    1.125000   42816000.0  12.962963   -4.629630
1996-04-18    1.218750   27268800.0   7.247863   -2.974359

In [41]:
forecast_col='Adj. Close'
df.fillna(value=-99999,inplace=True)
forecast_out=int(math.ceil(0.01*len(df)))
df.head()

            Adj. Close  Adj. Volume     HL_PCT  PCT_change
Date
1996-04-12    1.375000  408720000.0  56.060606   23.484848
1996-04-15    1.343750   79219200.0  18.604651  -10.852713
1996-04-16    1.197917   48016008.0  14.782609  -12.173913
1996-04-17    1.125000   42816000.0  12.962963   -4.629630
1996-04-18    1.218750   27268800.0   7.247863   -2.974359

In [42]:
df['label']=df[forecast_col].shift(-forecast_out)
df.head()

            Adj. Close  Adj. Volume     HL_PCT  PCT_change     label
Date
1996-04-12    1.375000  408720000.0  56.060606   23.484848  1.208333
1996-04-15    1.343750   79219200.0  18.604651  -10.852713  1.166667
1996-04-16    1.197917   48016008.0  14.782609  -12.173913  0.885417
1996-04-17    1.125000   42816000.0  12.962963   -4.629630  1.135417
1996-04-18    1.218750   27268800.0   7.247863   -2.974359  1.130208

In [43]:
df.dropna(inplace=True)
x=np.array(df.drop(['label'],1))
y=np.array(df['label'])
x=preprocessing.scale(x)
y=np.array(df['label'])

In [35]:
x_train, x_test, y_train, y_test =model_selection.train_test_split(x, y, test_size=0.2)
clf=svm.SVR()
clf.fit(x_train, y_train)
confidence = clf.score(x_test, y_test)
print(confidence)

C:\Users\Shreya Jaiswal\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

0.7781183019998875

In [51]:
import numpy as np
from sklearn import preprocessing, model_selection, neighbors
import pandas as pd
df = pd.read_csv('breast-cancer-wisconsin.txt')
df.replace('?',-99999, inplace=True)
df.drop(['id'], 1, inplace=True)
X = np.array(df.drop(['class'], 1))
y = np.array(df['class'])
X_train, X_test, y_train, y_test =model_selection.train_test_split(X, y, test_size=0.2)
clf = neighbors.KNeighborsClassifier()
clf.fit(X_train, y_train)
confidence = clf.score(X_test, y_test)
print(confidence)

0.9857142857142858

In [52]:
example_measures = np.array([[4,2,1,1,1,2,3,2,1]])
example_measures.reshape(len(example_measures), -1)
prediction = clf.predict(example_measures)
print(prediction)

[2]

In [53]:
import numpy as np
from sklearn import preprocessing , model_selection,neighbors, svm
import pandas as pd
df = pd.read_csv('breast-cancer-wisconsin.txt')
df.replace('?',-99999, inplace=True)
df.drop(['id'], 1, inplace=True)
X = np.array(df.drop(['class'], 1))
y = np.array(df['class'])
X_train, X_test, y_train, y_test =model_selection.train_test_split(X, y, test_size=0.2)
clf = svm.SVC()
clf.fit(X_train, y_train)
confidence = clf.score(X_test, y_test)
print(confidence)
example_measures = np.array([[4,2,1,1,1,2,3,2,1]])

example_measures.reshape(len(example_measures), -1)
prediction = clf.predict(example_measures)
print(prediction)

0.9785714285714285
[2]

C:\Users\Shreya Jaiswal\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)